exportPattern("^[[:alpha:]]+")
importFrom("stats", "as.formula", "coef", "cor", "density", "rnorm", "vcov", "formula")
importFrom("stats", "coefficients", "dnorm", "lm", "mad", "median", "predict", "quantile", "resid", "sd")
importFrom("stats", "loess", "loess.control", "logLik", "runif", "var")
importFrom("dplyr", "%>%")
importFrom("lars", "backsolvet", "updateR", "downdateR", "lars")
importFrom("gplots", "heatmap.2")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "lines", "plot", "points")
importFrom("scales", "alpha")
importFrom("dplyr", "data_frame", "bind_rows")
importFrom("dplyr", "%>%")
importFrom("rlang", ".data")
